@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary: #7dbf7a;
  --color-background: #a7d9d4;
  --color-accent: oklch(0.22 0.04 235);
  /* font */
  --font-primary: "inter";
}

@layer utilities {
  /* Fonts */

  .font-primary {
    font-family: var(--font-primary);
  }
  /* Colors */
  .color-bg {
    background-color: var(--color-background);
  }
  .color-primary {
    background-color: var(--color-primary);
  }
  .color-accent {
    color: var(--color-accent);
  }
}
